<div class="contact-background">
  <mat-card class="full-height">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DJ</mat-card-title>
      <mat-card-subtitle>Parker</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/TurnTables.jpg" alt="Product">
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
          <br>
          <br>
          <h2>
            DJ Parker is fully eqipped to get the party started at any venue.
          </h2>
        </div>
        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">

          <h2>
            Lets set the mood.
          </h2>

        </div>
        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">

          <h2>
            Play the songs that make your crowd get up and dance.
          </h2>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>