.example-header-image {
  background-image: url("/assets/img/ImpossibleCover.jpg");
  background-size: cover;
}

.full-height {
  height: 100%;
  //overflow: hidden;
}

img {
  max-height: 40%;
}

.contact-background {
  background-image: url("/assets/img/ImpossibleCover.jpg");
  //background-color: #424242;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.myClass {
  font-size: 60px;
  color: #ffd740;
  text-align: center;
}
