<div class="contact-background">
  <div class="full-height">
    <div class="myClass">Game Winner</div>

    <br />

    <!-- <div fxLayout="column" fxLayout.xs="column"> -->
    <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="center">
      <div>
        <h1>Game Winner</h1>
        <iframe
          frameborder="2"
          allowtransparency="true"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1d9Bklq_OqMvSWaq7KSDQbKRxoDEweq0h/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Down Down Down</h1>
        <iframe
          frameborder="2"
          allowtransparency="true"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1pqJ1JNzotQ525fb75j0qVDJnLR6o_8zR/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Stay</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1lIZAcmqbM0MjDmzHVQhDX40zsw7nCMd_/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>I Want It All</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/17IUm-qZX9BfZe03kMisVIt2pbWUHlL0d/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Doubts</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1i01knmAZK8I1Pt4u3hZBKfSAayvbvjGO/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Round & Round</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/10_pOYsgkndDIMm0kN7Lt_HSHEgPe8MVv/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Freedom</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1XwbBhgcWW_Eb2bZWHL6SyX1VLr2767KW/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Last Time</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/17Ky4msDE-lZB_Y_X_yDC59qAogUF8OSO/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Crazy</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1XSLU6tdk-Vr4J1HVIifPvMva9Pd7j7xf/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>How It Feels</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1_sYTdX4TSVhsEEXZPs7tlM1qI1dTavOy/preview?usp=sharing"
        >
        </iframe>
      </div>

      <div>
        <h1>Impossible</h1>
        <iframe
          frameborder="2"
          width="500"
          height="80"
          src="https://drive.google.com/file/d/1TUpeHLYy-Sn-beP21p4oZeCFXMUjl1jo/preview?usp=sharing"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
