<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <h2>One-Time Limited Launch Offer</h2> -->
  <!-- <p>The initial response to EZ Fishn Products has been tremendous and we are starting up full production for both
          products.</p>
        <p>At this time we are only taking Pre-orders, for an October 1st Delivery .</p>
        <p>All Pre-Order Products will be slashed for a one-time limited launch offer!</p> -->

  <h1>
    • Ice Alarm
  </h1>
  
  <h4>
    <a (click)="goToLinkIceAlarm()">Ice Alarm Video</a>
  </h4>
  
  <div class="ezfishnCenterz">
    <div class="portrait">
      <img id="siteHeaderImage" src="assets/img/IceAlarmFrontRender.JPG" />
    </div>
  </div>

  <h4>
    <a routerLink="/main/alarm" routerLinkActive="active">Ice Alarm Information</a>
  </h4>



  <h1>
    • Ice Stepper

  </h1>
  <div class="ezfishnCenterz">
    <div class="portrait">
      <img id="siteHeaderImage" src="assets/img/IceStepperFrontRender.JPG" />
    </div>
  </div>

  <h4>
    <a routerLink="/main/stepper" routerLinkActive="active">Learn More</a>
  </h4>



  <h1>
    Learn about the Complete Package Today!
  </h1>
  <div class="ezfishnCenterz">
    <div class="portrait">
      <img id="siteHeaderImage" src="assets/img/CompleteProductTranslucentRender.JPG" />
    </div>
  </div>
  <h4>
    <a routerLink="/main/port" routerLinkActive="active">Order</a>
  </h4>

  <h4>
    <a (click)="goToLink()">How To Video</a>
  </h4>

</div>



<!-- <div class="main-div">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>EZFishn</mat-card-title>
            <mat-card-subtitle>Automated Jigging System</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/CompleteProductTranslucentRender.JPG" alt="Product">
          <mat-card-content>
            <p>
              With the Ezfishn complete product line setting up tip-ups will be a thing of the past.
              These products will allow you to set up multiple lines without the need for live bait. The self jigging action
              and alarm will allow you to
              spend more time reeling in fish instead of checking and changing bait.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div> -->