<div class="contact-background">
  <mat-card class="full-height">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jay Parker</mat-card-title>
      <mat-card-subtitle>Mix and Master</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Ableton.jpg" alt="Product" />
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
          <br />
          <br />
          <h2>
            Jay Parker has all you need to mix and master your next hit.
          </h2>
          <br />
          <br />
        </div>
        <br />
        <br />
        <br />
        <br />
        <!-- <audio controls>
          <source src="assets/audio/Down.mp3" type="audio/mp3" />
        </audio> -->

        <div
          style="background-image: url(assets/img/ImpossibleCover.jpg); 
        padding: 50px;"
        >
          <h1>Down Down Down</h1>
          <iframe
            frameborder="0"
            width="500"
            height="100"
            src="https://drive.google.com/file/d/1g_19RU4BQWwTSKZp5MvcvB6tt8M2AgVy/preview?usp=sharing"
          >
          </iframe>
        </div>
        <div
          style="background-image: url(assets/img/ImpossibleCover.jpg); 
      padding: 50px;"
        >
          <h1>Stay</h1>
          <iframe
            frameborder="0"
            width="500"
            height="100"
            src="https://drive.google.com/file/d/1lIZAcmqbM0MjDmzHVQhDX40zsw7nCMd_/preview?usp=sharing"
          >
          </iframe>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
