
  <!-- <div class="main-container">
    <div class="fixer-container">
      <article class="ezfishnCenter">
        <div class="ezfishnCenter">
          <img id="siteHeaderImage" src="assets/img/IceAlarm.PNG" style="float:center;" />
        </div>
      </article>
    </div>
  </div> -->

  <!-- <div class="ezfishnCenter">
      <div class="portrait">
          <img id="siteHeaderImage" src="assets/img/ICEALARM.jpeg" />
        </div>
  </div> -->
  <!-- <div class="ezfishnCenter">
    <img id="siteHeaderImage" src="assets/img/ICEALARM.jpeg" style="float:center;" />
  </div> -->
  <mat-tab-group>
      <mat-tab label="About">
          <div class="main-container">
              <div class="fixer-container">
                  <div style="text-align:center">
                      <h1>
                        Welcome to {{ title }}!
                      </h1>
                    </div>
                    <div class="main-div">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>EZFishn</mat-card-title>
                          <mat-card-subtitle>Ice Alarm</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/img/IceAlarmFrontRender.JPG" alt="Product">
                        <mat-card-content>
                            <p>
                                Simple and easy to use!  Turn a 5 gallon pail into a complete Ice fishing system.
                              </p> 
                              <p>
                                The Ice Alarm is a two part system that includes, a easily releasable handle holder, 
                                and fish bite sensor that creates an audible alarm when a fish strikes.
                              </p>                       
                              <p>
                                The Ice Alarm works perfectly with the Ice Stepper.
                              </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
              </div>
            </div>
      </mat-tab>
    
      <mat-tab label="How it Works">
    
        <div class="ezfishnCenter">
          <div class="portrait">
            <img id="siteHeaderImage" src="assets/img/ICEALARM.jpeg" />
          </div>
        </div>
    
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Ice Alarm</ng-template>
              <div class="main-container">
                <div class="fixer-container">
                  <article class="ezfishnCenter">
                    <div class="ezfishnCenter">
                      <img id="siteHeaderImage" src="assets/img/IceAlarmFrontRender.JPG" style="float:center;" />
                    </div>
    
                    <div>
                      <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>
                  </article>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Atttach To Bucket</ng-template>
              <div class="main-container">
                <div class="fixer-container">
                  <article class="ezfishnCenter">
                    <div class="ezfishnCenter">
                      <img id="siteHeaderImage" src="assets/img/IceAlarmBackRender.JPG" style="float:center;" />
                    </div>
    
                    <div>
                      <button mat-raised-button matStepperPrevious color="primary">Back</button>
                      <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>
                  </article>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Set Up Pole</ng-template>
            <div class="main-container">
              <div class="fixer-container">
                <article class="ezfishnCenter">
                  <div class="ezfishnCenter">
                    <img id="siteHeaderImage" src="assets/img/IceAlarmTopViewCloseUpRender.JPG" style="float:center;" />
                  </div>
    
                  <div>
                    <button mat-raised-button matStepperPrevious color="primary">Back</button>
                    <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                  </div>
                </article>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
    
    
    
      </mat-tab>
    </mat-tab-group>