<!-- <div class="bg">

<div class="main-div">
        <br>
        <mat-card class="full-height">
                <br>
                <br>
                <br>
            <mat-card-header>
                
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Contact Information</mat-card-title>
            </mat-card-header>
            <br>

            <form [formGroup]="regiForm" #formDirective="ngForm" (ngSubmit)="onFormSubmit(regiForm.value, formDirective)">
                    <table>  
                            <tbody>
                        <tr>  
                            <td>  
                                <mat-form-field class="demo-full-width">  
                                    <input formControlName="FirstName" matInput placeholder="First Name" maxlength="50">  
                                </mat-form-field>  
                                <mat-error>  
                                    <span *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">Please enter First Name !!!</span>  
                                </mat-error>  
                            </td>  
                        </tr> 
                        <tr>
                                <td>  
                                        <mat-form-field class="demo-full-width">  
                                            <input formControlName="LastName" matInput placeholder="Last Name" maxlength="50">  
                                        </mat-form-field>  
                                    </td>  
                        </tr> 

                        <br> 
                                <tr>
                                        <td>  
                                                <mat-form-field>  
                                                    <mat-select formControlName="Product" placeholder="Contact Reason:">  
                                                        <mat-option>-- Select Any --</mat-option>  
                                                        <mat-option value="DJ">DJ</mat-option>    
                                                        <mat-option value="Producer">Producer</mat-option>
                                                        <mat-option value="Call">Call Me</mat-option>
                                                        <mat-option value="Email">Email Me</mat-option>   
                                                    </mat-select>  
                                                </mat-form-field>  
                                            </td>  
                                </tr>  
                                <br><br>
                        <tr>  
                            <td>  
                                <mat-radio-group formControlName="Contact">  
                                    <mat-radio-button value="Phone">Phone</mat-radio-button>  
                                    <mat-radio-button value="Email">Email</mat-radio-button>  
                                </mat-radio-group>  
                            </td> 
                        </tr>
  
                        <br>
                        <tr>  
                            <td colspan="2">  
                                <mat-form-field class="demo-full-width">  
                                    <input formControlName="Phone" matInput placeholder="Phone" maxlength="50">  
                                    <mat-hint>(###) ###-####</mat-hint>    
                                </mat-form-field>  
                            </td>  
                        </tr>  
                        <tr>  
                            <td colspan="12">  
                                <mat-form-field class="demo-full-width">  
                                    <input formControlName="Email" matInput placeholder="Email" maxlength="50">  
                                    <mat-hint>use like : JayParker@JayParkerProductions.com</mat-hint>   
                                </mat-form-field>  
                            </td>  
                        </tr>
                        <br>
                        <br>
                        <br>  
                        <tr>  
                            <td colspan="2">  
                                <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Interested To Hire.</mat-slide-toggle>  
                            </td>  
                        </tr> 
                        <br>
                        <br>
                        <tr>  
                            <td colspan="2" class="content-center">  
                                <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Submit</button>  
                            </td>  
                        </tr>  
                        <tr>  
                            <td></td>  
                        </tr>  
                       </tbody>
                    </table>  
                </form>

          </mat-card>
        </div>
    </div> -->



<div class="contact-background">
    <div class="main-div">
        <form [formGroup]="regiForm" #formDirective="ngForm" (ngSubmit)="onFormSubmit(regiForm.value, formDirective)">
            <mat-card class="card">

                <!-- content -->
                <mat-card-content>
                    <div fxLayout="column">
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-card-title>Contact Information</mat-card-title>
                        </div>
                        <br>
                        <!-- Header -->
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="FirstName" matInput placeholder="First Name" maxlength="50">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="LastName" matInput placeholder="Last Name" maxlength="50">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-form-field>
                                <mat-select formControlName="Product" placeholder="Contact Reason:">
                                    <mat-option>-- Select Any --</mat-option>
                                    <mat-option value="DJ">DJ</mat-option>
                                    <mat-option value="Producer">Producer</mat-option>
                                    <mat-option value="Call">Call Me</mat-option>
                                    <mat-option value="Email">Email Me</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <section class="example-section">
                                <mat-radio-group formControlName="Contact">
                                    <mat-radio-button class="example-margin" value="Phone">Phone</mat-radio-button>
                                    <mat-radio-button class="example-margin" value="Email">Email</mat-radio-button>
                                </mat-radio-group>
                            </section>
                        </div>
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="Phone" matInput placeholder="Phone" maxlength="50">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="Email" matInput placeholder="Email" maxlength="50">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Interested To
                                Hire.</mat-slide-toggle>
                        </div>
                        <br>
                        <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
                            <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Submit</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>

    </div>
</div>